<mat-toolbar>
    <h2 mat-dialog-title>Edit Profile</h2>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    
  
  
    <form class="example-form" [formGroup]="myform">
      <!-- Name -->
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="email" matInput formControlName="name" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="myform.controls.name.hasError('required')">
          name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
<!-- Domain -->
      <mat-form-field class="example-full-width">
        <mat-label>Domain</mat-label>
        <input type="email" matInput formControlName="domain" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="myform.controls.domain.hasError('required')">
          Domain is <strong>required</strong>
        </mat-error>
      </mat-form-field>
<!-- Gender -->
      <!-- <mat-form-field> -->
          <mat-label>Gender</mat-label> <br>
          <mat-radio-group formControlName="gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button  value="Female">Female</mat-radio-button>
          </mat-radio-group>
      <!-- </mat-form-field> -->

      <!-- D.O.B -->
      <mat-form-field class="example-full-width">
        <input matInput formControlName="dob" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="myform.controls.dob.hasError('required')">
          Date of Birth is <strong>required</strong>
        </mat-error>
      </mat-form-field>

  <!-- Phone Number-->
      <mat-form-field class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input type="number"  matInput formControlName="mobileNumber" placeholder="Ex. 7548236598">
        <mat-error *ngIf="myform.controls.mobileNumber.hasError('required')">
          Mobile number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

  <!-- Location -->
      <mat-form-field class="example-full-width">
        <mat-label>location</mat-label>
        <input  matInput formControlName="location" placeholder="Address">
        <mat-error *ngIf="myform.controls.location.hasError('required')">
          Location is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
    </form>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="myform.value" cdkFocusInitial>Add</button>
  </mat-dialog-actions>